<div class="container-fluid view-container">
    <div id="motivational">
        <h1><i class="fa fa-map-marker fa-2x"></i> Who we are</h1>
    </div>
    <div class="row aboutus">
        
        <div class="col-xs-12 col-md-6 col-lg-4">
            <h2>Our company</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in felis vitae sapien semper molestie sit amet
                sit amet nibh. Aliquam sed ullamcorper mi. Nulla dui sapien, lacinia ut cursus in, vestibulum sit amet ipsum.
                Integer condimentum tempus ipsum id porta. Quisque maximus odio nec blandit consequat. Donec eu eros convallis,
                fringilla sapien tempor, ullamcorper dui. Integer tellus libero, lobortis ut ligula ut, lacinia feugiat turpis.
                Proin varius, erat et bibendum fringilla, tortor tortor imperdiet lectus, vitae tincidunt purus ligula et
                nulla. Nullam varius libero sed lacus posuere, et aliquam nisi pellentesque.</p>
            
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <h2>Our vision</h2>
            <p>Donec pellentesque venenatis libero sit amet consectetur. Vivamus libero metus, tincidunt id orci eu, volutpat
                faucibus nulla. Quisque et consectetur ligula. Sed mollis luctus scelerisque. Vestibulum accumsan ante risus,
                in pulvinar nisi vulputate sed. Pellentesque non tortor ultrices libero aliquet rhoncus. Vivamus rutrum velit
                eget nisi fermentum eleifend. Quisque id justo mattis, dictum nunc aliquam, aliquam sapien. Praesent commodo
                dui quis elit efficitur accumsan. Proin interdum felis vel diam porttitor ultrices.  Donec eu risus ut purus iaculis luctus vel tempor metus.</p>
        </div>

        <div class="col-xs-12 col-lg-4">
            <h2>Our values</h2>
            <p>Etiam dictum est ac lectus scelerisque vehicula. Ut lacinia mi quis urna ullamcorper, quis venenatis lectus euismod. Praesent accumsan, leo non hendrerit ullamcorper, urna felis dictum sapien, et iaculis massa est ac enim. Quisque cursus efficitur dapibus. Maecenas a sollicitudin risus. Curabitur in viverra erat, sit amet cursus nisl. Suspendisse feugiat suscipit metus, eu ultrices risus dictum ac. Quisque maximus odio nec blandit consequat. Donec eu eros convallis,
                fringilla sapien tempor, ullamcorper dui. Quisque vestibulum varius ex, eu tempor elit sodales vel. Praesent molestie vel velit eu ullamcorper.</p>
        </div>

        <div class="col-xs-12">
            <img src="images/corporative1.png" class="img-responsive" />
        </div>

        <div class="col-xs-12 col-md-6">
            <h2>Investor info</h2>
            <p>Maecenas tristique enim erat, sit amet finibus massa consectetur in. Aenean dapibus lacus felis, a bibendum nibh pretium eu. Fusce tincidunt urna hendrerit, efficitur eros sed, scelerisque erat. Duis sed tincidunt risus. Nunc felis dui, consequat sit amet enim a, placerat posuere augue. Aenean vitae pharetra sem, et tincidunt mi. Integer fringilla eu nisi at dictum. Sed dolor nulla, sodales a maximus ac, pellentesque id massa. Maecenas feugiat diam erat, in commodo nulla iaculis vel. Etiam vitae rutrum magna, et luctus mi.</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Work with us</h2>
            <p>Sed eget gravida odio. Aenean commodo risus justo, id pharetra arcu ultrices at. Sed et pretium nisi. Mauris felis tortor, pellentesque vel ligula eget, scelerisque porta ligula. Donec convallis id diam sed dictum. Curabitur neque felis, convallis vitae semper sed, semper semper sapien. Nullam et massa ultricies, rhoncus dui consectetur, tempor metus. Vestibulum aliquet lacus a odio volutpat sollicitudin. Curabitur egestas orci libero, sed hendrerit mauris laoreet nec. Nullam hendrerit libero et suscipit tempor. Sed sit amet nulla eget tortor semper ornare. Integer tincidunt nunc vitae consequat accumsan. Sed in enim ac eros convallis auctor vel sed mi. Donec at placerat velit. Quisque tristique rutrum viverra. Fusce convallis placerat sem quis rhoncus.</p>
        </div>
    </div>
</div>